<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>{% block title %}EcoSwap{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
        {% endblock %}
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- Headder -->
    {% block header %}
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <div class="logo-icon"></div>
                    <div class="logo-text"><a href="{% url 'landingpage' %}">EcoSwap</a></div>
                </div>
                <div class="nav-links">
                    <a class="{% if request.resolver_match.url_name == 'landingpage' %}active{% endif %}" href="{% url 'landingpage' %}">Home</a>
                    <a class="{% if request.resolver_match.url_name == 'shop' %}active{% endif %}" href="{% url 'shop' %}">Shop</a>
                    <a class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                    <a class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                    <a class="{% if request.resolver_match.url_name == 'charging_hub' %}active{% endif %}" href="{% url 'charging_hub' %}">Charging Hubs</a>
                </div>
                <div class="nav-actions">
                    <a href="{% url 'cart' %}" class="cart-icon"><i class='bx bx-cart-alt' ></i></a>
                    {% if user.is_authenticated %}
                    <div class="drop-down-cnt">
                        <div class="user-profile" onclick="toggle_drop_down()">
                            <div class="profile"></div>
                            <p>{{ user.username }}</p>
                        </div>
                        <div class="drop-down" id="drop_down">
                            <ul class="drop-down-list">
                                {% if user.profile.role == "admin" %}
                                <li class="list-item"><a href="{% url 'admin:index' %}"><i class='bx bxs-cog'></i> Admin</a></li>
                                {% endif %}
                                <li class="list-item"><a href="{% url 'my_orders' %}"><i class='bx bx-box'></i> My Orders</a></li>
                                <li class="list-item"><a href="{% url 'logout' %}"><i class='bx bx-exit'></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'signin' %}" class="sign-in">Sign In</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    {% endblock %}

    <!-- Hero Section -->
    {% block hero %}

    {% endblock %}

    <!-- Products -->
    {% block main %}

    {% endblock %}

    <!-- Footer -->
    {% block footer %}
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <div class="logo">
                      <div class="logo-icon"></div>
                      <span class="footer-logo-text">EcoSwap</span>
                    </div>
                    <p>Committed to providing sustainable products that make a difference.</p>
                </div>
                <div class="footer-column">
                    <h3>Shop</h3>
                    <ul class="footer-links">
                        <li><a href="#">All Products</a></li>
                        <li><a href="#">Best Seller</a></li>
                        <li><a href="#">Battery</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Company</h3>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Origin</a></li>
                        <li><a href="#">Carrier</a></li>
                        <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Connect</h3>
                    <div class="social-links">
                        <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                        <a href="#"><i class='bx bxl-github'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                    </div>
                    <p>support@echoswap.com</p>
                    <p>+91 98765 43210</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 EcoSwap. All rights reserved.</p>
            </div>
        </div>
    </footer>
    {% endblock %}
    <script src="{% static 'js/landingpage.js' %}"></script>
</body>
</html>