{% extends 'main/base.html' %}

{% block title %}Charging Hub's{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
<link rel="stylesheet" href="{% static 'css/charging_hub.css' %}">
{% endblock %}

{% block main %}
<section class="section-padding">
    <div class="container map-cnt">
        <h1 class="section-title">Find the Charging Station in your location</h1>
        <div class="accessibility">
            <form action="" class="search-product-cnt" method="POST">
                {% csrf_token %}
                <input type="text" name="search" id="search" class="charging-hub-search search" placeholder="Search for a location!" value="{{ place }}">
                <button type="submit" class="charging-hub-search-btn search-btn"><i class='bx bx-search'></i></button>
            </form>
            <!-- <button class="btn btn-primary location-btn" onclick="getCurrentLocation()">Get Current Location</button> -->
        </div>
        {% if place != "" %}
        <h2>Charging Stations in <span class="place">"{{ place|title }}"</span></h2>
        <iframe width="100%" height="500" frameborder="0" src="{{ embed_url }}" allowfullscreen></iframe>
        {% endif %}
    </div>
</section>
{% endblock %}