{% extends 'main/base.html' %}

{% load static %}
<!-- Hero Section -->
{% block hero %}
<section class="hero">
    <div class="container">
        <div class="hero-content">
            {% if user.is_authenticated %}
            <h1>Hello {{ user.first_name }} {{ user.last_name }}</h1>
            {% else %}
            <h1>Hello Everyone</h1>
            {% endif %}
            <p>The one and only fast and efficint battery swapping platform</p>
            <div class="hero-search">
                <!-- <a href="#" class="btn btn-primary">Shop Now</a>
                <a href="#" class="btn btn-outline">Learn More</a> -->
                <form action="{% url 'landingpage' %}" method="post" class="search-product-cnt">
                    {% csrf_token %}
                    <input type="text" name="search" id="search" class="search" placeholder="Try to search something!" value="{{ search }}">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Products -->
{% block main %}
<section class="products">
    <div class="container">
        <h1 class="section-title">Featured Products</h1>
        {% if not products|length %}
        <p class="no-items-found">No items found</p>
        {% endif %}
        <div class="product-grid">
            {% for product in products %}
            <!-- Product 1 -->
            <div class="product-card">
                <a href="{% url 'product' product.id %}">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="product-rating">
                            <span class="battery-capacity"><i class='bx bxs-battery-low' ></i> {{ product.battery_capacity }} kWh</span>
                        </div>
                        <p class="product-details">{{ product.details }}</p>
                        <span class="product-price">₹{{ product.price }} <span>(Per Day)</span></span>
                    </div>
                </a>
                <div class="product-footer">
                    <a href="{% url 'add_to_cart' product.id %}">
                        <button class="add-to-cart">Add to Cart</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
