{% extends 'main/base.html' %}

{% block title %}Order Success{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/ordersuccessful.css' %}">
{% endblock %}

{% block main %}
<div class="container main">
    <h2>Thank you for your order!</h2>
    <p>Your order has been placed successfully. You will receive updates shortly.</p>
    <a href="{% url 'landingpage' %}" class="btn btn-primary">Go to Home</a>
</div>
{% endblock %}
