{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

<!-- Products -->
{% block main %}
<section class="product-cnt section-padding">
    <div class="container">
        <div class="product-content">
            <div class="product-image-cnt">
                <div class="product-image-placeholder">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            </div>
            <div class="product-details">
                <h1 class="product product-name">{{ product.name }}</h1>
                <h3 class="product product-price">₹{{ product.price }} <span class="price-per-day">(Per Day)</span></h3>
                <p class="details">{{ product.details }}</p>
                {% if product.delevery_option == "free" %}
                <p class="delevery-option"><span>📦</span> Free Shipping</p>
                {% else %}
                <p class="delevery-option"><span>💵</span> Shipping cost <span id="shipping-cost">₹{{ product.shipping_cost }}</span></p>
                {% endif %}
                <div class="two-col">
                    <a href="{% url 'add_to_cart' product.id %}"><button class="btn add-to-cart">Add to Cart</button></a>
                    <a href="{% url 'item_shipping' product.id %}"><button class="btn place-order">Place Order</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
