{% extends 'main/base.html' %}

{% block title %}Shop{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}

<!-- Products -->
{% block main %}
<section class="products">
    <div class="container">
        <h1 class="section-title">Featured Products</h1>
        <div class="accessibility">
            <form action="{% url 'shop' %}" method="post" class="search-product-cnt">
                {% csrf_token %}
                <input type="text" name="form_name" hidden value="search_form">
                <input type="text" name="search" id="search" class="shop-search search" placeholder="Try to search something!" value="{{ search }}">
                <button type="submit" class="shop-search-btn search-btn"><i class='bx bx-search'></i></button>
            </form>
            <form action="{% url 'shop' %}" method="post" class="catagory-filter">
                {% csrf_token %}
                <input type="text" name="form_name" hidden value="category_form">
                <select name="category" id="category" onchange="this.form.submit()">
                    <option value="0">Select Category</option>
                    <option value="0">All</option>
                    <option value="1">EV Bike</option>
                    <option value="2">EV Car</option>
                    <option value="3">Accessories</option>
                </select>                
            </form>
        </div>
        <div class="product-grid">
            {% for product in products %}
            <!-- Product 1 -->
            <div class="product-card">
                <a href="{% url 'product' product.id %}">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="product-rating">
                            <span class="battery-capacity"><i class='bx bxs-battery-low' ></i> {{ product.battery_capacity }} kWh</span>
                        </div>
                        <p class="product-details">{{ product.details }}</p>
                        <span class="product-price">₹{{ product.price }} <span>(Per Day)</span></span>
                    </div>
                </a>
                <div class="product-footer">
                    <a href="{% url 'add_to_cart' product.id %}">
                        <button class="add-to-cart">Add to Cart</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
