.charging-hub-search {
    border: 2px solid #065841;
}

.charging-hub-search-btn {
    border: 2px solid #065841;
}

iframe {
    border: none;
    border-radius: 10px;
}

h2 {
    margin: 30px 0;
}

.place {
    color: #059669;
}

.accessibility {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn-primary {
    background-color: #10b981;
    color: white;
    border: 2px solid #10b981;
}

.btn-primary:hover {
    background-color: #059669;
}

.btn-outline {
    background-color: transparent;
    color: #10b981;
    border: 2px solid #10b981;
}

.location-btn {
    background-color: #1f2937;
    border: none;
}

.location-btn:hover {
    background-color: #4b5563;
    border: none;
}

